
@(tasks: List[Task], taskForm: Form[Task])

@import helper._



@main("Lista de Tarefas") {


<body bgcolor="#009999">
<body bgcolor="rgb(0,0,0)">
<body bgcolor="black">    <m> - - - - - - - - - - - - - - - <br>
    
    @tasks.size() TAREFAS(S)<br>
    
        - - - - - - - - - - - - - - - </m>
    
    
    <h2>+ Para fazer:</h2>
    <ul>
        @for(task <- tasks) {
            
            @if(!task.isDone()){
	            <li>
	                <b>Descrição:</b> @task.getLabel()<br>
	                
	                <b>Projeto:</b>  @task.getProject()<br>
	                
	                <b>Prioridade:</b> @task.getPriority()<br>
	                
	                
	                @form(routes.Application.deleteTask(task.getId())) {
	                    <input type="submit" value="Excluir">
	                }
	                
	                @form(routes.Application.updateTask(task.getId())) {
	                    <input type="submit" value="Feita">
	                }
	                <br>
	                
	            </li>
            }
        }
    </ul>
    
    <h2>   + Tarefas feitas:</h2>
    
    <ul>
        @for(task <- tasks) {
            
            @if(task.isDone()){
	            <li>
	                <b>Descrição: </b> @task.getLabel()
	                
	                <b>Projeto: </b> @task.getProject()
	                
	                <b>Prioridade: </b> @task.getPriority()
	                
	                
	                @form(routes.Application.deleteTask(task.getId())) {
	                    <input type="submit" value="Apagar">
	                }
	            </li>
            }
        }
    </ul>
    
        
    <u> - Adicione uma nova tarefa</u>
    
    @form(routes.Application.newTask()) {
        
        

        @inputText(taskForm("label"), '_label -> "Tarefa:")
        @inputText(taskForm("project"), '_label -> "Projeto:")
        @inputText(taskForm("priority"), '_label -> "Prioridade (1 à 10): ")
         
        <input type="submit" value="Criar">
        
    }
    
}