
m{
font-family: Adamina ;
line-height: 1em;
color: #dedce8;
font-weight:bold;
font-size: 40px;
text-shadow:0px 0px 0 rgb(58,39,162),1px 0px 0 rgb(43,24,147),2px 0px 0 rgb(29,10,133),3px 0px 0 rgb(14,-5,118),4px 0px 0 rgb(0,-19,104),5px 0px 0 rgb(-15,-34,89), 6px 0px 0 rgb(-29,-48,75),7px 0px 6px rgba(0,0,0,0.6),7px 0px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);}

u{
font-family: Adamina ;
line-height: 1em;
color: #dfdae6;
font-weight:bold;
font-size: 30px;
text-shadow:0px 0px 0 rgb(199,194,206),1px 0px 0 rgb(184,179,191),2px 0px 0 rgb(170,165,177),3px 0px 0 rgb(155,150,162),4px 0px 0 rgb(141,136,148),5px 0px 0 rgb(126,121,133), 6px 0px 0 rgb(112,107,119),7px 0px 6px rgba(0,0,0,0.6),7px 0px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);}